html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background: black;
  font-family: arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 0px;
}

.row {
  width: 100%;
  background: linear-gradient(0deg, rgba(33, 33, 33, 1) 0%, rgba(19, 19, 19, 1) 17%, rgba(0, 0, 0, 1) 100%);

}

.time {
  height: 4%;
}

.single {
  height: 14%;
}
.double {
  height: 28%;
}

.buttons {
  height: 12%;
}


.waveform {
  float: left;
  width: 80%;
}

.nibpandtemp {
  width: 32.5%;
  float:left;
}


.timer {
  width: 15%;
  float:left;
}

.numerics {
  width: 20%;
  height: 100%;
  float: right;
}


.numericstitle {
  height: 15%;
  background: linear-gradient(90deg, rgba(52, 52, 52, 1) 0%, rgba(40, 40, 40, 1) 17%, rgba(0, 0, 0, 1) 100%);
  color: white;
  font-size: 1em;
  text-align: left;
  Padding: 5px 0px 5px 10px;
  font-weight: bold;
}
.number{
  border: 1px solid black;
  text-align: center;
  padding: 0px;
  Font-size: 4em;
  font-weight: 550;
}

.ecg {
  color: #00ff00;
}

.art {
  color: red;
}

.cvp {
  color: cornflowerblue;
}

.cvp {
  color: white;
}

.spo2 {
  color: deeppink;

}

.co2 {
  color: gold;
}

.resp {
  color: mediumblue;
}


.button {
  width: 15%;
  height: 100%;
  float: left;
  text-align: center;
  margin: auto;
  font-weight: bold!important;
  background: linear-gradient(229deg, rgba(180, 180, 180, 1) 0%, rgba(138, 138, 138, 1) 55%, rgba(131, 131, 131, 1) 100%) !important;
  box-shadow: inset 0 -5px 10px rgba(131, 131, 131, 1)!important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)!important;
}

.power{
  width: 5%!important;

}

.silence {
  width: 20%!important;
  background: gold !important;

}




/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}