
html {

    background-color:#15151b;

}


body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    background-color:#15151b;
	min-width: 450px;
  
}

header {
    background: linear-gradient(180deg, rgba(29,29,38,1) 0%, rgba(96,95,108,1) 42%, rgba(68,68,75,1) 93%, rgba(115,115,120,1) 97%, rgba(255,255,255,1) 99%);
    padding: 30px;
    text-align: right;
    font-size: 15px;
    color: white;
  }

  footer {
    background: linear-gradient(0deg, rgba(29,29,38,1) 0%, rgba(96,95,108,1) 42%, rgba(68,68,75,1) 93%, rgba(115,115,120,1) 94%, rgba(255,255,255,1) 97%);
    padding: 10px;
    text-align: center;
    color: white;
  }

  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    width: auto;
    background-color:#15151b;

  }


h1 {
    font-size: 1.75em;
}

h2 {
    text-align: center;
    font-size: 4em; 
}

td {
    width: 50%;
}

input {
	margin-bottom: 5px;
}

a:visited{ 
	color: blue; 
}

.display {
    width: 100%;
    min-height: 400px;
    padding-bottom: 20px;
}

.control {
    width: 100%;
    padding-bottom: 20px;
}

.control-button {
    width: 100%;
    min-height: 50px;
}

.display-box {
    border: 2px solid black;
}

.title {
    vertical-align: top;
}



.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

.status {
    height: 125px;
    vertical-align: text-top;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    
}

.modal-dialog-full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width:none !important;

}

.modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec 
}

.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
    border-top: 1px solid #9ea2a2 !important;
}